@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset */
* {
  box-sizing: border-box;
}

/* General */
html, body {
  font-family: "Montserrat", sans-serif;
  /*background: #ba3940;*/
  color: #ffffff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Navbar */
#navbar a {
  color: #ffffff;
}

#navbar .logo {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  float: right;
  padding-top: 16px;
}

#navbar ul {
  list-style: none;
  float: left;
  text-transform: uppercase;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #a0fa93;
}

/* Showcase */

.showcase-img {
  float: right;
  width: 50%;
}

.showcase-img img {
  width: 90%;
}

.showcase-text {
  float: left;
  width: 50%;
  padding: 20px 20px 20px 40px;
}

.showcase-text h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 46px;
}

.showcase-text .title-one {
  font-size: 29px;
  font-weight: 400;
}
.showcase-text .title-two {
  color: #841934;
}
.showcase-text .large {
  padding-top: 20px;
}

header {
  height: 100vh;
  width: 100vw;
  background-color: rgb(42,4,27)
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

/* sección correspondiente a nosotros */
#nosotros {
  background: rgb(216,104,163);
  height: 100vh;
  width: 100vw;
  padding: 100px 0;
}

.nosotros-title {
  float: left;
  width: 50%;
  padding: 20px 20px 20px 40px;
}

.nosotros-title .large {
  padding-bottom: 10px;
  font-size: 1.25rem;
}

.nosotros-img {
  float: right;
  width: 50%;
}

.nosotros-img img {
  width: 90%;
}

.nosotros-img img.resize {
  width: 624px;
  height: auto;
}

/*seccion correspondiente a el evento*/
#elEvento {
  background-color: rgb(120, 65,120);
  height: 100vh;
  width: 100vw;
  padding: 100px 0;
}

.subtituloParrafo{
  float: right;
  width: 50%;
  padding: 20px 20px 20px 40px;
}
.seccionVideo{
  float: left;
  width: 50%;
}

.seccionVideo video {
    width: 624px;
    height: auto;
}

/* General */
h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
  text-align: justify;
}

/*sección correspondiente a registrarse */
#registrarse {
  padding: 30px 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(155,36,74);
}

.registrarse-form {
  float: right;
  width: 45%;
  padding: 20px;
}

.registrarse-title {
  float: left;
  width: 55%;
  padding-top: 160px;
  text-align: center;
}

form .form-group {
  margin-bottom: 1rem;
}

form .form-control {
  width: 100%;
  padding: 0.375rem 0.7rem;
  font-size: 1rem;
  line-height: 1.7;
  border: none;
}

/* Boton Form */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 14px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-light {
  background: #841934;
  border: 1px solid #841934;
  color: #fff;
  width: 100%;
}

.btn-light:hover {
  background: #fff;
  border: 1px solid #841934;
  color: #841934;
}

/*sección correspondiente a informacion */
#informacion {
  background-color: rgb(60,0,12);
  /*height: 100vh;*/
  width: 100vw;
  padding: 100px 0;
}

#titulo {
  text-align: center;
  height: 30%;
}

#clima-y-mapa {
  height: 40%;
  
}



#mapa iframe {
  display: block;
  float: right;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#copyright img {
  display: block;
  margin: 30px auto;
}

#copyright p {
  text-align: center;
  /*margin: 30px auto;*/
}
